@model Chocolate.DataAccess.ViewModels.RawMaterialViewModel

@{
    ViewData["Title"] = "Raw Material";
}

<h2>Edit Raw Material</h2>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="p-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-action="Edit">

                        <div class="form-group row">
                            <label asp-for="Name" class="col-md-2 col-form-label">Name</label>
                            <div class="col-md-10">
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Price" class="col-md-2 col-form-label">Price</label>
                            <div class="col-md-10">
                                <input asp-for="Price" type="number" step="0.01" class="form-control" />
                            </div>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-bordered-primary waves-effect  width-md waves-light">Save</button>
                        <a asp-action="Index" class="btn btn-lighten-primary waves-effect waves-primary width-md">Back to List</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
