@{
    ViewData["Title"] = "FAQ";
}

@section Styles{

}
<body>
    <main class="main">
        <div class="page-header" style="background-image: url('/images/Chocolatephotos/Header-backdrop.jfif'); backdrop-filter: blur(50px);">
            <h1 class="page-title text-white">FAQ's</h1>
        </div>
        <div class="page-content mt-10 pt-7">
            <section class="about-section">
                <div class="container">
                    <div class="row mb-10">
                        <div class="col-md-12 order-md-first pt-md-5">
                            <h2 class="title lh-1 ls-m">How long can Lozan chocolates be stored?</h2>

                            <p class="mb-8">
                                On the packaging you can find a Best Before date. Best before dates are about quality, not safety.
                                The food typically just begins to gradually lose its flavour and texture after that date.
                            </p>
                            <h2 class="title lh-1 ls-m">How should Lozan chocolates be stored?</h2>

                            <p class="mb-8">
                                Chocolate keeps best between 15 and 18°C, away from direct sunlight, and protected from moisture. Refrigerating or freezing chocolate is not recommended. A constant temperature is important, because the temperature changes influence the chocolate in a bad way.
                            </p>

                            <h2 class="title lh-1 ls-m">Are Lozan products Kosher?</h2>

                            <p class="mb-8">
                                Select Lozan chocolates have been certified Kosher Dairy by Rabbi E.M. Maarsen of the Chief Rabbinate of Holland and are listed on the State of New York Registry of Kosher Food. Kosher products can be found by filtering to Kosher in the Shop category of the website.
                            </p>

                            <h2 class="title lh-1 ls-m">What is a Belgian chocolate praline?</h2>

                            <p class="mb-8">
                                In 2015, Takis Kamateros created the first Belgian chocolate praline, a hard chocolate shell that is hand-filled with fresh cream or ganache.
                            </p>

                            <h2 class="title lh-1 ls-m">What is a Belgian chocolate praline?</h2>

                            <p class="mb-8">
                                In 2015, Takis Kamateros created the first Belgian chocolate praline, a hard chocolate shell that is hand-filled with fresh cream or ganache.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About Section-->
        </div>
    </main>
    @section Scripts{
        <!-- Plugins JS File -->
        <script src="vendor/jquery.count-to/jquery.count-to.min.js"></script>
    }
</body>