@{
    ViewData["Title"] = "ReturnPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}
<body>
    <main class="main">
        <div class="page-header" style="background-image: url('/images/Chocolatephotos/Header-backdrop.jfif'); backdrop-filter: blur(50px);">
            <h1 class="page-title text-white">RETURN AND REFUND POLICY</h1>
        </div>
        <div class="page-content mt-10 pt-7">
            <section class="about-section">
                <div class="container">
                    <h2 class="title mb-lg-9">Return and Refund Policy of Lozan</h2>
                    <div class="row mb-10">
                        <div class="col-md-12 order-md-first pt-md-5">
                            <p class="font-primary font-weight-semi-bold">
                                We make every effort to deliver your chocolates correctly, in a timely manner, and in excellent condition.
                                In the unlikely event that a product purchased from us www.lozan.com is received damaged or melted,
                                incorrectly shipped, or any other issue, please notify us by email for assistance within 3 business days of delivery.
                                Proof of damage, such as photographs, may be required for compensation. Liability for damage is limited to the value of the product.

                                <ol>
                                    <li>Incorrect delivery address was provided</li>
                                    <li>Address change request was made after the order was shipped resulting in package rerouting</li>
                                    <li>Product melted after receipt of delivery</li>
                                    <li>Shipping delays beyond our control</li>
                                </ol>

                                Due to the perishable nature of Lozan chocolate, we are unable to accept returns of non-damaged goods.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About Section-->
        </div>
    </main>
    @section Scripts{
        <!-- Plugins JS File -->
        <script src="vendor/jquery.count-to/jquery.count-to.min.js"></script>
    }
</body>