@{
    ViewData["Title"] = "ShippingGuide";
}

@section Styles{

}
<body>
    <main class="main">
        <div class="page-header" style="background-image: url('/images/Chocolatephotos/Header-backdrop.jfif'); backdrop-filter: blur(50px);">
            <h1 class="page-title text-white">SHIPPING & DELIVERY</h1>
        </div>
        <div class="page-content mt-10 pt-7">
            <section class="about-section">
                <div class="container">
                    <div class="row mb-10">
                        <div class="col-md-12 order-md-first pt-md-5">
                            <h2 class="title lh-1 ls-m">Standard Delivery</h2>

                            <p class="mb-8">
                                Orders placed before 1 pm usually ship within 1-2 business days. During peak holiday seasons orders may take an additional day to be processed due to the high volume of orders received. Standard shipping time in transit is 1-4 business days.
                            </p>
                            <h2 class="title lh-1 ls-m">2nd Day Delivery</h2>

                            <p class="mb-8">
                                2nd Day Air orders placed before 1 pm usually ship the same business day. Orders placed after 1 pm ship the next business day. Orders shipping to warm climates placed on Thursday or Wednesday second half of the day may ship on Monday at our discretion. 2nd Day Air orders are given extra attention by our customer service department and priority by the shipper.
                            </p>

                            <h2 class="title lh-1 ls-m">Next Day Delivery</h2>

                            <p class="mb-8">
                                Next Day Air orders placed before 1 pm ship the same business day. Orders placed after 1 pm ship the next business day. Next Day Air orders are given extra attention by our customer service department and priority by the shipper.
                            </p>

                            <h2 class="title lh-1 ls-m">Alaska & Hawaii</h2>

                            <p class="mb-8">
                                For shipments to Alaska and Hawaii additional shipping charges will apply and delivery times may vary. FedEx Ground is not available for shipping to Alaska and Hawaii. Please note that the shipping guarantees for Overnight and 2 Day delivery do not apply for orders to Alaska or Hawaii.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About Section-->
        </div>
    </main>
    @section Scripts{
        <!-- Plugins JS File -->
        <script src="vendor/jquery.count-to/jquery.count-to.min.js"></script>
    }
</body>