@{
    ViewData["Title"] = "Success";
}

@section Styles{

}
<body>
    <main class="main">
        <div class="page-header" style="height:auto; background-image: url('/images/Chocolatephotos/Header-backdrop.jfif'); backdrop-filter: blur(50px);">
            <br />
        </div>
        <div class="container">
            <br />
            <div class="row text-center">
                <br><br>
                <h2>Thank you for choosing Lozan!</h2>
                <p style="font-size:20px;color:#5C5C5C;">
                    Your order is complete.
                </p>

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </main>
</body>

@section Scripts{
    <!-- Plugins JS File -->
    <script src="vendor/jquery.count-to/jquery.count-to.min.js"></script>
}