@{
    ViewData["Title"] = "Orders";
}

@section Styles{
    <link href="~/css/site.min.css" rel="stylesheet" />
}

<h1>Orders</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add New+</a>
</p>
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h2 class="sub-header">
                A list of all the Orders
            </h2>
            <table id="order-datatable" class="table table-bordered table-bordered dt-responsive nowrap">
                <thead class="thead-dark">
                    <tr>
                        <th>Customer</th>
                        <th>Type of Payment</th>
                        <th>Order Placed</th>
                        <th>Order Fulfilled</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/site.min.js"></script>
    <script>
        jQuery(function () {
            var dateOptions = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' };
            $('#order-datatable').DataTable({
                "serverSide": true,
                dom: 'Bfrtlip',
                buttons: [{
                    extend: "pdf",
                    className: "btn btn-sm  btn-primary",
                    orientation: "portrait",
                    pageSize: "A4"
                }],
                "ajax": {
                    url: "/api/orders/query",
                    type: 'POST',
                    contentType: "application/json",
                    data: function (data) {
                        return JSON.stringify(data);
                    }
                },
                order: [[0, 'desc']],
                "columns": [
                    {
                        "data": "customerId",
                        "render": function (a, b, data, d) {
                            return data.customer.lastName;
                        }

                    },
                    {
                        "data": "paymentType",
                        "render": function (a, b, data, d) {
                            return data.paymentType == 1 ? "Pay on Delivery" : "Credit Card"
                        }
                    },
                    {
                        "data": "orderPlaced", "render": function (a, b, data, d) {
                            if (data.orderPlaced !== null) {
                                let date = new Date(data.orderPlaced);
                                return date.toLocaleDateString('en-GB', dateOptions);
                            }
                            return null;
                        }
                    },
                    {
                        "data": "orderFulfilled", "render": function (a, b, data, d) {
                            if (data.orderFulfilled !== null) {
                                let date = new Date(data.orderFulfilled);
                                return date.toLocaleDateString('en-GB', dateOptions);
                            }
                            return "Not Fulfilled";
                        }
                    },
                    {
                        "data": "id",
                        "render": function (a, b, data, d) {
                            return `<a class="btn btn-outline-primary btn-xs mr-1" href="/order/edit/${data.id}"><i class="fas fa-edit mr-1"></i>Edit</a> ` +
                                `<a class="btn btn-outline-info btn-xs mr-1" href="/order/details/${data.id}"><i class="fas fa-eye mr-1"></i>Details</a> ` +
                                `<a class="btn btn-outline-danger btn-xs" href="/order/delete/${data.id}"><i class="fas fa-trash mr-1"></i>Delete</a>`;
                        },
                        "orderable": false
                    }
                ]
            });
        })
    </script>
}