@model Chocolate.DataAccess.ViewModels.OfferViewModel

@{
    ViewData["Title"] = "Offers";
}

<h2>Delete Offer</h2>
<hr />

<h3>Are you sure you want to delete this?</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="p-2">
                    <form>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label" asp-for="Name">Name</label>
                            <div class="col-md-10">
                                <input asp-for="Name" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="DateCreated" class="col-md-2 col-form-label">Date Created</label>
                            <div class="col-md-10">
                                <input asp-for="DateCreated" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="ReviewDeadline" class="col-md-2 col-form-label">Review Deadline</label>
                            <div class="col-md-10">
                                <input asp-for="ReviewDeadline" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="DateReviewed" class="col-md-2 col-form-label">Date Reviewed</label>
                            <div class="col-md-10">
                                <input asp-for="DateReviewed" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="FullName" class="col-md-2 col-form-label">Author</label>
                            <div class="col-md-10">
                                <input asp-for="FullName" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Supplier.Name" class="col-md-2 col-form-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Supplier.Name" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="DiscountLevelId" class="col-md-2 col-form-label"></label>
                            <div class="col-md-10">
                                <input asp-for="DiscountLevelId" class="form-control" readonly />
                            </div>
                        </div>
                    </form>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-bordered-danger waves-effect  width-md waves-light">
                        <a asp-action="Index" class="btn btn-lighten-primary waves-effect waves-primary width-md">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}