/* 
Demo 22
*/
.title {
	padding-bottom: 1.8rem,
}
// Header
.header-middle .header-center {
	flex: 1;
	justify-content: center;
}
.header-search.hs-expanded {
	margin: 0 3rem;
}
.header-bottom .main-nav {
	margin: 0 0 0 .4rem;
	.currency-dropdown > a,
	.language-dropdown > a { padding: 1.95rem 0; }
}
.currency-dropdown,
.language-dropdown {
	.dropdown-box { font-weight: 400; }
}
.category-dropdown {
	> a {
		span { flex: 1; }
		&::after {
			content: '\f078';
			font-size: 1.1rem;
		}
	}
}
// Category Menu
.category-menu {
    .menu-title {
        line-height: 2.15;
    }
}
// Intro Section
.intro-section {
	.banner-content {
		padding: 0 1.5rem;
		width: 100%;
	}
}
// Intro Slider
.intro-slider {
	.banner img {
		height: 46rem;
		object-fit: cover;
	}
	.banner-subtitle {
		font-size: 2em;
	}
	.owl-dots { bottom: 2.5rem; }
}
.intro-slide1 {
	.banner-content {
		height: 100%;
		padding: 5rem 1.5rem;
	}
	.banner-title,
	.banner-price-info {
		font-size: 3em;
		color: #2f3945;
	}
	.banner-title {
		margin-bottom: 1.2rem;
	}
	p {
		margin-bottom: -1px;
		line-height: 1;
	}
	.banner-subtitle {
		margin-bottom: .7rem;
	}
}
.intro-slide2 {
	.banner-subtitle {
		margin-bottom: 1.3rem;
	}
	.banner-title {
		font-size: 3.6em;
	}
	p {
		font-size: 1.8em;
	}
}
// Intro Banner
.intro-banner {
	overflow: hidden;
	height: 46rem;
	background-color: #edf0f4;
	figure { position: static; }
	figure img {
		position: absolute;
		padding-left: 2rem;
		top: 25%;
		max-width: none;
		width: auto;
	}
	.banner-content {
		height: 100%;
		padding: 3.3rem 1.5rem;
	}
	p {
		&::after {
			content: ' ';
			display: block;
			margin: 1.2rem auto 0;
			width: 7.7rem;
			border-top: 1px solid rgba(255,255,255,.5);
		}
	}
	.banner-subtitle,
	p span {
		font-size: 1.6rem;
	}
	.banner-title {
		font-size: 2.4em;
	}
	.btn {
		padding: .77em 1.45em
	}
	&::before {
		content: '';
		display: block;
		right: 0;
		left: 0;
		top: 0;
		height: 34%;
		background-color: $primary-color;
	}
}
// Categoreis
.categories {
	.category-content {
		cursor: auto;
	}
}
.category-menu .submenu>a::after {
	color: #999;
}
// Banner group
.banner-group {
	img {
		min-height: 20rem;
		object-fit: cover;
	}
	.banner-content {
		padding: 0 1.5rem 0 6.9%;
		width: 100%;
	}
	.banner-title {
		margin-bottom: .8rem;
		font-size: 2.4em;
	}
	p {
		max-width: 36rem;
		line-height: 1.43;
		opacity: .9;
	}
	.btn {
		margin-right: 1.8rem;
		i {
			margin-left: .7rem;
		}
	}
}
// Product wrapper
.product-wrapper {
	figure {
		height: 100%;
		img {
			height: 100%;
			object-fit: cover;
		}
	}
	.banner-content {
		top: 8.3%;
		padding: 0 11.5%;
		width: 100%;
	}
	.banner-subtitle {
		font-size: 1.4rem;
	}
	.banner-title {
		margin-bottom: 1.7rem;
		font-size: 1.8rem;
		span {
			margin-top: .4rem;
		}
	}
	.banner {
		.btn {
			padding: .63em 1.32em;
		}
	}
	.category-filters {
		padding: 4.5rem .5rem 4.5rem 2.8rem;
		border-right: 1px solid #eaebed;
		align-items: flex-start;
		background-color: #fff;
		height: 100%;
	}
	.category-title {
		margin-bottom: 1.7rem;
		font-size: 2rem;
		letter-spacing: -.025em;
	}
	.cateogry-list {
		margin: 0;
		padding: 0;
		list-style: none;
		flex: 1;
		font-family: $second-font-family;
		font-size: 1.3rem;
		li {
			margin-bottom: .8rem;
			&:hover,
			&.active {
				color: $primary-color;
			}
		}
		a {
			display: block;
		}
	}
	.product {
		background-color: #fff;
	}
}
.row.line-grid {
	margin: 0 0 -2px 0;
	padding: 0 0 1px;
	> * {
		border-bottom: 1px solid #eaebed;
		border-left: 1px solid #eaebed;
	}
}
// Service-list
.home .service-list {
	.icon-box {
		padding: 3.45rem 0;
		p {
			font-size: 1.3rem;
			letter-spacing: -.025em;
			line-height: 1;
			color: #999;
		}
	}
	.icon-box-icon {
		margin-right: 1.5rem;
		font-size: 3.2rem;
		color: $primary-color;
	}
	.icon-box-title {
		margin-bottom: .3rem;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1;
		color: #232f3e;
	}
	.owl-carousel {
		border-bottom: 1px solid #eee;
	}
}
// Responsive
@include mq(xl, max) {
	.product-wrapper {
		.products-banner {
			border-bottom: 1px solid #eee;
		}
		.category-filters {
			min-height: 45rem;
		}
		.banner {
			height: 100%;
		}
		.line-grid {
			margin: 0 0 -2px -2px;
			padding: 0 0 1px 1px;
		}
	}
}
@include mq(lg) {
	.header-top {
		.currency-dropdown,
		.language-dropdown {
			display: none;
		}
	}
}
@include mq(lg, max) {
	.header-bottom {
		display: none;
	}
	.header-middle .header-center {
		flex: auto;
	}
}
@include mq(md) {
	.mobile-menu-toggle { color: $primary-color; }
}
@include mq(xs, max) {
	.product-wrapper {
		.category-filters {
			padding: 2rem 1.5rem;
			.btn {
				font-size: 1.2rem;
			}
			a {
				white-space: nowrap;
			}
		}
	}
}

@include mq(lg) {
	.header-border { border-bottom: none; }
}

// Shop page
.shop-banner {
	padding: 8.1rem 1.5rem 7.7rem 9.1%;
	.banner-subtitle {
		padding: 0 1rem;
		font-size: 2em;
		line-height: 1.3;
	}
	.banner-title {
		margin-bottom: 2.2rem;
		font-size: 3.6em;
	}
}
.product-wrap {
	margin-bottom: 0;
	border-bottom-color: #ebebeb;
	&::after { height: 100%; }
}
.toolbox-pagination {
	border-top: none;
}

// Product page
.single-product .product-wrapper .owl-carousel {
	border-bottom: 1px solid #ebebeb;
}
.product-form {
    .btn-cart {
        background-color: $secondary-color;
        &:hover:not(:disabled) {
            background-color: darken( $secondary-color, 7% );
        }
        &:disabled {
            background-color: lighten( $secondary-color, 10% );
        }
    }
}