@{
    ViewData["Title"] = "LogicNotFound";
}

<div class="page-content">
    <section class="error-section d-flex flex-column justify-content-center align-items-center text-center pl-3 pr-3">
        <h1 class="mb-2 ls-m">An occured while processing your request.</h1>
        <img src="~/Images/404.png" alt="error 404" width="609" height="131">
        <h4 class="mt-7 mb-0 ls-m text-uppercase">
            The support team is notified and we are working on the fix
        </h4>        
    </section>
</div>
<h3>
     
</h3>