@model Chocolate.DataAccess.Models.Leave

@{
    ViewData["Title"] = "Leaves";
}

<h1>Edit</h1>

<h4>Leave</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div class="form-group row">
                <label asp-for="LeaveType" class="control-label">Type</label>
                <input asp-for="LeaveType" class="form-control" readonly="readonly" />
                <span asp-validation-for="LeaveType" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Status" class="control-label">Leave Status</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="EmployeeId" class="control-label">Employee Id</label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmpolyeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="StartDate" class="control-label">Start Date</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="NumberOfDays" class="control-label">Number Of Days</label>
                <input asp-for="NumberOfDays" class="form-control" />
                <span asp-validation-for="NumberOfDays" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="File" class="control-label">File</label>
                <input asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
