<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">

        <li class="dropdown notification-list">

            @if (User.Identity.IsAuthenticated)
            {
                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="~/assets/images/users/user-12.jpg" alt="user-image" class="rounded-circle">
                    <span class="pro-user-name ml-1">
                        Welcome @Context.User.Identity.Name! <i class="mdi mdi-chevron-down"></i>
                    </span>
                </a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="dropdown-item notify-item">
                    <i class="fas fa-user-lock"></i>
                    <span>Login</span>
                </a>
            }
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <!-- item-->
                <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Leaving so soon?</h6>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Account" asp-action="Logout" class="dropdown-item notify-item">
                        <i class="fe-log-out"></i>
                        <span>Logout</span>
                    </a>
                }
            </div>
        </li>
    </ul>

    <!-- LOGO -->
    <div class="logo-box">
        <a asp-controller="Home" asp-action="Index" class="logo logo-dark text-center">
            <span class="logo-lg">
                <img src="~/Images/logo-brown.png" alt="" height="50">
            </span>
            <span class="logo-sm">
                <img src="~/Images/L_Brown1.png" alt="" height="24">
            </span>
        </a>
        <a href="index.html" class="logo logo-light text-center">
            <span class="logo-lg">
                <img src="~/Images/logo-brown.png" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="~/Images/logo-brown.png" alt="" height="24">
            </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
        <li>
            <button class="button-menu-mobile disable-btn waves-effect">
                <i class="fe-menu"></i>
            </button>
        </li>
    </ul>
</div>