@{
    ViewData["Title"] = "User Index";
}

@section Styles{
    <link href="~/css/site.min.css" rel="stylesheet" />
}

<h1>Users</h1>

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="mt-0 header-title">All Users</h4>
            <p class="text-muted font-14 mb-3"> </p>

            <table id="users-datatable" class="table table-bordered table-bordered dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div> 

@section Scripts{
    <script src="~/js/site.min.js"></script>
    <script>
        jQuery(function () {
            $('#users-datatable').DataTable({
                "serverSide": true,
                dom: 'Bfrtlip',
                buttons: [{
                    extend: "pdf",
                    className: "btn btn-sm  btn-primary",
                    orientation: "portrait",
                    pageSize: "A4"
                }],
                "ajax": {
                    url: "/api/users/query",
                    type: 'POST',
                    contentType: "application/json",
                    data: function (data) {
                        return JSON.stringify(data);
                    },
                },
                order: [[0, 'desc']],
                "columns": [
                    { "data": "userName" },
                    { "data": "email" },
                    {
                        "data": "id",
                        "render": function (a, b, data, d) {
                            return `<a class="btn btn-outline-info btn-xs mr-1" href="/administration/userDetails/${data.id}"><i class="fas fa-eye mr-1"></i>Details</a>`;
                        },
                        "orderable": false
                    }
                ]
            });
        })
    </script>
}