/* 
Demo 30
*/

/* New Global Classes */
.text-tertiary { color: #fcd208 !important; }
.op-5 { opacity: 0.5; }
.ls-4 { letter-spacing: -0.04em; }
.scale-95 { transform: scaleX(0.95); }
.banner .banner-title-lg { font-size: 5em; }

/* Global Styles */
.banner p { font-size: 1.6rem; }

/* Header */
.header .wishlist { 
    margin-right: 2rem;
    font-size: 3rem;
}

.cart-toggle {
    .cart-dropdown & { padding-right: 6px; }
    i { font-size: 2.6rem; }
}
.header .cart-dropdown {
    .cart-count {
        top: 10px;
        right: -4px;
    }
}

.header .login { margin-right: 2.5rem; }

.header .main-nav-2 { margin-right: 4rem; }
.mobile-menu-toggle { color: #222; }

/* Intro Slider */
.intro-slider {
    .banner-title { font-size: 5em; }
    img { 
        min-height: 60rem;
        object-fit: cover;
    }
}
.intro-slide1 {
    img {
        object-position: 70%;
    }
    .banner-content {
        padding-left: 1.5rem;
    }
    .banner-title {
        margin-bottom: 1.7rem;
        line-height: 1.34;
    }
    .banner-subtitle { font-size: 2.4em; }
    p {
        margin-bottom: 4.3rem;
        font-size: 1.6em;
    }
    .banner-content {
        right: 10.1%;
        max-width: 54rem;       
    }
}
.intro-slide2 {
    img {
        object-position: 40%;
    }
    .banner-content {
        top: 15.7%;
        max-width: 39rem;
    }
    p {
        font-size: 2em;
        line-height: 1.2;
    }
    .banner-title { margin-bottom: 2.4rem; }
    p { margin-bottom: 3.9rem; }
}
/* Top Banner */
.intro-banner { padding: 248px 0; }
.intro-banner .banner-title { text-indent: -2px; }

/* Creative Grid Banners */
.banner-grid {
    .grid-item { flex: 0; }
    .w-1-24 { max-width: calc(100% / 24); flex-basis: calc(100% / 24); }
    .h-1 { height: 710px; }
    .h-1-2 { height: 355px; }
    .h-3-4 { height: 520px; }
    .h-2-3 { height: 470px; }

    .banner-content { left: 0; width: 100%; padding: 0 1rem; }
    .bottom { bottom: 4rem; }
    .top { top: 4rem; }
    em { font-size: 133.33%; font-style: normal; }
    .btn { font-size: 1.6rem; }
    .banner-description-lg { font-size: 2.8em; line-height: normal; }
    h5 { font-size: 1.8em; }
    h3 { font-size: 3em; }
}

.text-right .scale-95 { transform-origin: right; }
.banner-speaker .banner-title { font-size: 4.1em; }
.banner-speaker .btn-link:hover { color: $primary-color !important; }

.banner-camera {
    h3 {
        padding: 0 1.2rem;
        font-size: 6em;
        line-height: 1;
    }

    h4 {
        padding: 0 2rem;
        color: #f7f8fc;
        font-size: 3.6em;
        line-height: 0.8333;
        border-left: 2px solid rgba(#f7f8fc, 0.2);
    }

    span {
        font-size: 1.4rem;
        line-height: 1;
    }
}

/* Products Tab */

.products-tab {
    .nav-link {
        margin-bottom: -2px;
        padding: 5px 0;
        font-size: 2.4rem;
        text-transform: none;
        letter-spacing: -0.025em;
    }

    .nav-item .nav-link.active { color: $primary-color; }
    .nav-tabs { border-bottom: 2px solid #f4f4f4; }

    .product { 
        margin-bottom: 1rem;
        background: #f7f8fc;
    }

    .product-lg { 
        height: calc(100% - 1rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* Newsletter Form */
.newsletter-form form { height: 48px; }

.newsletter-form .form-control { 
    background: #fff;
    font-style: italic;
    color: #999;
}

.newsletter-form .icon-box-icon { font-size: 4.5rem; }
.newsletter-form .icon-box-title { margin-bottom: 2px; font-size: 1.8rem; }
.newsletter-form .icon-box p { font-size: 1.4rem; }

/* Blog */
.post .btn { letter-spacing: 0.01em; }

/* Footer */
.footer-top {
    .icon-box-icon {
        margin-right: 1.5rem;
        color: $primary-color;
    }
    
    .icon-box .icon-box-title,
    .icon-box p {
        font-family: $font-family;
        font-size: 1.4rem;
        line-height: 1.25;
        letter-spacing: -0.01em;
    }

    .icon-box p { color: #999; }
}

.widget-contact {
    span { line-height: 2.2; }
    span a:hover { text-decoration: underline; }
    li:last-child { margin-top: -6px; }
}

.call strong { font-size: 1.4rem; }
.widget-links { flex-wrap: wrap; }
.footer .social-link { line-height: 2.8rem; }

.footer .social-link:not(:hover) {
    color: #333;
    border: 1px solid #999;
}

.footer-bottom { font-size: 1.1rem; }
.footer-bottom .dir-up>a::after { content: '\f077'; }

/* Responsive */
@media (max-width: 1599px) {
    .menu > li { margin-right: 2rem; }
    .menu > li:last-child { margin-right: 0; }
    .cart-toggle .d-icon-bag::before { transform: translateX(-50%) scale(0.7); }
    .cart-toggle .d-icon-bag::after { transform: scale(0.7); }
    .header .wishlist { margin-right: 2rem; }
    .header .login { margin-right: 2rem; }
    .login .d-icon-user::before { width: 1rem; height: 1rem; }
    .login .d-icon-user::after { width: 1.8rem; height: 1rem; border-radius: 7px 7px 0 0; }
}

@media (max-width: 1399px) {
    .banner-camera .banner-content { flex-direction: column; }
    .banner-camera h4 { border: none; text-align: center; }
    .banner-grid .banner { font-size: 9px; }
    .menu > li > a { font-size: 1.3rem; }
}

@media (max-width: 1367px) {
    .menu > li { margin-right: 1.5rem; }
    .menu > li:last-child { margin-right: 0; }
    .header-middle .header-center { margin: 0 1rem; }
    .header .main-nav { margin-right: 0; }
    .header .main-nav-2 { margin-right: 2.5rem; }
}

@media (max-width: 1279px) {
    .mobile-menu-toggle { display: block; }
    .main-nav { display: none; }
}

@include mq('lg') {
    .banner-grid {
        .w-9-24 { max-width: calc(100% / 24 * 9); flex-basis: calc(100% / 24 * 9); }
        .w-5-24 { max-width: calc(100% / 24 * 5); flex-basis: calc(100% / 24 * 5); }
    }
}

@include mq('lg') {
    .newsletter-form .icon-box { margin-right: 2.5rem; }
    .newsletter-form .icon-box-title, .newsletter-form .icon-box p { line-height: 1; }
    .footer-middle .widget { margin-left: 4rem; }
}

@include mq('lg', max) {
    .header .cart-dropdown { display: block; }
    .intro-slide1 .banner-content { max-width: 45rem; }
    .header .wishlist { display: none; }
}

@include mq('md') {
    .nav-item:not(:last-child) { margin-right: 4rem; }
    .banner-speaker .banner-content { padding: 0 5rem; }
}

@include mq('md', 'max') {
    .intro-banner { padding: 200px 0; }
    .footer-top .icon-box { flex-direction: column; }
    .footer-top .icon-box-content { text-align: center; }
    .footer-top .icon-box .icon-box-icon { margin-bottom: 1rem; margin-right: 0; line-height: 1; }
    .banner-grid {
        .banner-content { padding-left: 2rem; padding-right: 2rem; }
        .h-1 { height: 560px; }
        .h-1-2 { height: 280px; }
        .h-3-4 { height: 410px; }
        .h-2-3 { height: 370px; }
    }
}

@include mq('sm') {
    .newsletter-form .icon-box-icon { margin-right: 2.5rem; }
}

@include mq('sm', 'max') {
    .newsletter-form .icon-box { display: block; }
    .newsletter-form .icon-box-content { text-align: center; }
    .intro-banner .banner-subtitle { font-size: 2.2rem; }
    .intro-banner .banner-title { font-size: 4.8rem; }
}

/* Fon Only Edge */
@supports (-ms-ime-align:auto) {
    .banner-grid {
        .w-1-24 { max-width: calc(100% / 12); flex-basis: calc(100% / 12); }
    }


    @include mq('lg') {
        .banner-grid {
            .w-9-24 { max-width: calc(100% / 12 * 4); flex-basis: calc(100% / 12 * 4); }
            .w-5-24 { max-width: calc(100% / 12 * 3); flex-basis: calc(100% / 12 * 3); }
            .w-edge-2-12 { max-width: calc(100% / 12 * 2); flex-basis: calc(100% / 12 * 2); }
        }
    }
}

/* Aspect Ratio 1/1 */
@include only-for-retina(1.5) {
    .login .d-icon-user {
        &::before, &::after { border-width: 1.5px; box-shadow: none; }
    }
}

// Product page
.product-wrapper {
    .product { background: #f7f8fc; }
}