@model Chocolate.DataAccess.ViewModels.PurchaseViewModel

@{
    ViewData["Title"] = "Purchases";
}

<h2>Purchase Details</h2>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="p-2">
                    <form>
                        <div class="form-group row">
                            <label asp-for="DateReceived" class="col-md-2 col-form-label">Date Received</label>
                            <div class="col-md-10">
                                <input asp-for="DateReceived" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Offer.Name" class="col-md-2 col-form-label">Offer</label>
                            <div class="col-md-10">
                                <input asp-for="Offer.Name" class="form-control" readonly />
                            </div>
                        </div>

                        <a asp-action="Edit" class="btn btn-lighten-primary waves-effect waves-primary width-md" asp-route-id="@Model.Id">Edit</a>
                        <a asp-action="Index" class="btn btn-lighten-primary waves-effect waves-primary width-md">Back to List</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
