/* 
Demo 19 Variables
*/
@include set(
	(
		base: (
			title: (
				font-size: 2.4rem,
				font-weight: 700,
				margin-bottom: 2.4rem
			),
		),
		header: (
			middle: (
				padding-top: 3rem,
				padding-bottom: 3rem,
				color: #222,
				background: #fff,
				font-weight: 700,
				logo: (
					margin-right: 3.6rem,
				),
			),
			wishlist: (
				label: (
					_gap: .9rem,
				),
				icon: (
					font-size: 1.7rem,
					padding-bottom: 2px
				),
			),
		),
		menu: (
			ancestor: (
				font-weight: 700,
				_gap: 2.4rem,
			)
		),
		product: (
			rating: (
				_star-color: #666,
			),
		),
		footer: (
			font-family: $font-family,
			middle: (
				padding: 4.7rem 0 0,
				border-color: #282828,
				widget: (
					margin-bottom: 2.9rem,
					title: (
						margin-bottom: .6rem,
						font-weight: 600,
						color: #999,
					),
					body: (
						padding-top: 0,
						color: #666
					),
					label: (
						font-weight: 600,
						color: #999
					),
					list-item: (
						margin-bottom: 1.1rem,
					),
				)
			),
			bottom: (
				padding: 3.5rem 0,
			),
			copyright: (
				font-family: $font-family,
				letter-spacing: .005em,
				color: #777,
			),
			newsletter: (
				title: (
					color: false,
                    margin-bottom: .9rem
				),
				desc: (
					margin-bottom: 2.5rem,
                    line-height: 1.54,
					font-family: $font-family,
					color: inherit,
				),
			),
		)
	)
)